﻿<section class="content-header">
   
</section>
    <section class="content">
        <!-- USERS LIST -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Utilizadores</h3>
                <table class="table table-striped table-condensed " style="margin:10px, 10px, 10px, 10px;">
                    <thead>
                        <tr>
                            <br />
                            <th id="nome">Nome</th>
                            <th> </th>
                        </tr>

                        <tr ng-repeat="route in vm.routes">
                            <th> <a class="routes-list-name"> {{route.nome}}  </a> </th>
                            

                            <th>
                                <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ng-click="editRoute(route)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="editRoute(route)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </th>
                        </tr>

                    </thead>
                    <tbody id="tableStudents"></tbody>
                </table>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="vm.createRoute()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>

        <input type="text" id="name" ng-model="current.nome" value="{{current.name}}" />
        <button ng-click="save(current[$index])">Guardar</button>
        <button ng-click="apagar($index)">Apagar</button>
    </section>
    
