﻿<section class="content-header"></section>
<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Criar Rota</h3>
        </div>
        <div class="box-body">
            <div layout="column" ng-cloak class="md-inline-form">

                <div layout-padding>

                    <form ng-submit="save()" name="routeForm">


                        <div>
                            <div layout-gt-xs="row" flex-gt-xs>

        

                            </div>


                        </div>

                        <md-button type="submit" class="md-raised md-primary">Save</md-button>

                    </form>
                </div>

            </div>

        </div>
    </div>

</section>

