﻿<section class="content-header">
   
</section>
    <section class="content">
        <!-- USERS LIST -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Utilizadores</h3>
                <table class="table table-striped table-condensed " style="margin:10px, 10px, 10px, 10px;">
                    <thead>
                        <tr>
                            <br/>
                            <th id="nome">Nome</th>
                            <th id="estado">Estado</th>
                            <th> </th>
                        </tr>

                        <tr ng-repeat="storage in vm.storages">
                            <th> <a class="storages-list-name"> {{storage.name}}  </a> </th>
                            <th> <a class="storages-list-storagename"> {{storage.storagename}}  </a> </th>
                            <th> <a class="storages-list-storage_type"> {{storage.storage_type}}  </a> </th>

                            <th>
                                <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ng-click="editStorage(storage)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="editStorage(storage)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </th>
                        </tr>

                    </thead>
                    <tbody id="tableStudents"></tbody>
                </table>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="vm.createStorage()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>

        <input type="text" id="name" ng-model="current.name" value="{{current.name}}" />
        <input type="text" id="name" ng-model="current.storagename" value="{{current.storagename}}" />
        <input type="text" id="name" ng-model="current.storage_type" value="{{current.storage_type}}" />
        <button ng-click="save(current[$index])">Guardar</button>
        <button ng-click="apagar($index)">Apagar</button>
    </section>


                    <!-- MODAL -->
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Editar Cliente</h3>
                        </div>
                        <form ng-submit="submit()">
                            <div class="modal-body">
                                <div layout-gt-xs="row" flex-gt-xs>

                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>Nome</label>
                                        <input ng-model="current.name" required>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Storagename</label>
                                        <input ng-model="current.storagename" type="text" required>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Tipo</label>
                                        <input ng-model="current.storage_type" type="text" required>
                                    </md-input-container>

                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                    <input type="submit" class="btn primary-btn" value="Submit" />
                                </div>
                        </form>
                    </script>


                </section>

            </div><!-- /content-panel -->
        </div><!-- /col-lg-4 -->
    </div><!-- /row -->

</section>
    
