﻿<section class="content-header">
   
</section>
<section class="content">

    <!-- TRUCK LIST -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Camiões</h3>
            <table class="table table-striped table-condensed " style="margin:10px, 10px, 10px, 10px;">
                <thead>
                    <tr>
                        <th id="nome">Nome</th>
                        <th> </th>
                    </tr>

                    <tr ng-repeat="truck in vm.trucks">
                        <th> <a class="trucks-list-name"> {{truck.nome}}  </a> </th>

                        <th>
                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ng-click="vm.open(truck)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>

                            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </th>
                    </tr>

                </thead>
                <tbody id="tableStudents"></tbody>
            </table>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="vm.createTruck()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- MODAL -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Editar Camião</h3>
        </div>
        <form ng-submit="submit()">
            <div class="modal-body">
                <div layout-gt-xs="row" flex-gt-xs>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Nome</label>
                        <input ng-model="current.nome" required>
                    </md-input-container>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    <input type="submit" class="btn primary-btn" value="Submit" />
                </div>
            </div>
        </form>
    </script>




</section>
    
