﻿<style>
    .angular-google-map-container {
        height: 400px;
    }


    .md-select-menu-container {
        z-index: 9999;
    }



</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        General UI
        <small>Preview of UI elements</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">UI</a></li>
        <li class="active">General</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <button class="btn btn-default" ng-click="vm.open('modalNovaRota.html', 'criarRotaController')">Nova Rota</button>

  
    <ui-gmap-google-map ng-if="vm.map.center" center="vm.map.center" zoom="vm.map.zoom" events="vm.map.events" options="options">
        
        <ui-gmap-polylines models="vm.polylines" path="'path'" static="true" stroke="'stroke'" visible="'visible'" geodesic="true" editable="false" draggable="false" icons="'icons'"></ui-gmap-polylines>
        
        <ui-gmap-markers models="vm.randomMarkers" coords="'self'" icon="'icon'" click="vm.onClick">

        </ui-gmap-markers> 
        
        <ui-gmap-window coords="vm.activeModel" options="vm.windowOptions" show="vm.activeModel.show">
            <div>
                <h4>{{vm.activeModel.title}}</h4>
                <h6>{{vm.activeModel.content}}</h6>
                <button ng-if="vm.estaAssociadoArota" style="margin-left: 25%; " class="btn btn-primary btn-sm" ng-click="">Associar a rota</button>
            </div>
        </ui-gmap-window>

        <ui-gmap-map-control>
            <div>
                <button class="btn btn-sm btn-primary" ng-click="vm.botaoMapNovoCliente()">Novo Cliente</button>
            </div>
        </ui-gmap-map-control>


    
    </ui-gmap-google-map>




        <!-- MODAL -->
        <script type="text/ng-template" id="modalNovoCliente.html">
            <div class="modal-header">
                <h3>Novo Cliente</h3>
            </div>
            <form ng-submit="submit()">
                <div class="modal-body">
                    <div layout-gt-xs="row" flex-gt-xs>

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Nome</label>
                            <input ng-model="user.nome" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Morada</label>
                            <input value="{{user.morada}}" ng-model="user.morada" type="text" required>
                        </md-input-container>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
                    <input type="submit" class="btn primary-btn" value="Criar" />
                </div>
            </form>
        </script>

        <!-- MODAL -->
        <script type="text/ng-template" id="modalNovoArmazem.html">
            <div class="modal-header">
                <h3>Novo Armazem</h3>
            </div>
            <form ng-submit="submit()">
                <div class="modal-body">


                    <div class="form-group">

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Nome</label>
                            <input ng-model="user.nome" required>
                        </md-input-container>

                    </div>

                </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
                    <input type="submit" class="btn primary-btn" value="Criar" />
                </div>
            </form>
        </script>

        <!-- MODAL -->
        <script type="text/ng-template" id="modalNovaRota.html">
            <div class="modal-header">
                <h3>Nova Rota</h3>
            </div>
            <form ng-submit="submit()">
                <div class="modal-body">

                    <div class="form-group">

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Nome</label>
                            <input class="form-control" ng-model="user.descricao" required>
                        </md-input-container>

                    </div>

                    <div class="form-group">
                        <ui-select class="form-control" ng-required="true" ng-model="selected.value" theme="bootstrap" multiple append-to-body="false" ng-disabled="disabled" tagging tagging-label="false">
                            <ui-select-match placeholder="Selecionar clientes...">
                                {{$item.nome}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.idCliente" ng-hide="!$select.open">
                                <span ng-bind="item.nome"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>



                    <div layout="row" layout-align="start" flex>

                        <md-input-container flex="5o">
                            <label>Camiões disponiveis</label>
                            <md-select ng-required="true" ng-model="truckSelected.value">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="truck in trucks" ng-value="truck.idCamiao" ng-disabled="$index === 1">
                                    {{truck.nome}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex="50">
                            <label>Armazéns disponiveis</label>
                            <md-select ng-model="storageSelected.value">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="storage in storages" ng-value="storage.idArmazem" ng-disabled="$index === 1">
                                    {{storage.nome}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>


                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
                        <input type="submit" class="btn primary-btn" value="Criar" />
                    </div>
            </form>
        </script>





</section>

