﻿<div ng-controller="HeaderController as vm">
    <footer class="main-footer" ng-if="vm.isAuthenticated">
        <div class="container">
            <strong>Copyright © 2017 <a href="http://www.sparkleit.pt">SparkleIT</a>.</strong> All rights
            reserved.
        </div>
    </footer>
</div>
