<div ng-controller="HeaderController as vm">
    <header class="main-header"  ng-if="vm.isAuthenticated">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#!/home" class="navbar-brand">
                        <i class="fa fa-user-secret"></i>
                        <b>Your</b>Access
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <div data-ng-include="'/app/shell/nav.html'"></div>
                </div>
            </div>
        </nav>
    </header>

</div>