﻿<div ng-controller="NavController as vm">
    <ul class="nav navbar-nav">

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li ng-if="vm.isAutorized([0,1])"><a href="#!/createUser">Create User</a></li>
                <li><a href="#!/listUsers">List Users</a></li>
                <li ng-if="vm.isAutorized([0,1])"><a href="#!/userType">User Types</a></li>
            </ul>
        </li>

       
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Camioes <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li ng-if="vm.isAutorized([0,1])"><a href="#!/createTruck">Adicionar Camiao</a></li>
                <li><a href="#!/listTrucks">Listar Camiões</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rotas <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li ng-if="vm.isAutorized([0,1])"><a href="#!/createRoom">Adicionar Rota</a></li>
                <li><a href="#!/listRooms">Listar Rotas</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li ng-if="vm.isAutorized([0,1])"><a href="#!/createClient">Adicionar Cliente</a></li>
                <li><a href="#!/listClients">Listar Clientes</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Armazens <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li ng-if="vm.isAutorized([0,1])"><a href="#!/createRoom">Adicionar Armazem</a></li>
                <li><a href="#!/listRooms">Lista Armazens</a></li>
            </ul>
        </li>



        <li class="dropdown" ng-if="vm.isAutorized([0])">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Zones <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#!/createZone">Create Zone</a></li>
                <li><a href="#!/listZones">List Zones</a></li>
            </ul>
        </li>


        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                <span class="hidden-xs"></span>
                <img ng-src="{{vm.user.photo}}" class="user-image" alt="{{vm.user.name}}" ng-if="vm.user.photo">
                <img src="/img/default.png" class="user-image" alt="No Image" ng-if="!vm.user.photo">
                {{vm.user.name}}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="user-header">
                    <img ng-src="{{vm.user.photo}}" class="img-circle" alt="{{vm.user.name}}" ng-if="vm.user.photo">
                    <p>
                        {{vm.user.name}}
                        <small ng-if="vm.user.start_date">Member since {{vm.user.start_date | date : dateFormat}}</small>
                    </p>
                </li>
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="#!/profile?id={{vm.user.id}}" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                        <a href="#!/logout" class="btn btn-default btn-flat">Log out</a>
                    </div>
                </li>
            </ul>
        </li>

    </ul>

</div>


    
