﻿<div data-ng-include="'/app/shell/header.html'"></div>
<div class="content-wrapper">
    <div class="container" data-ui-view></div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'time-out': 2000, 'close-button':true}"></toaster-container>