﻿<section class="content-header">

</section>
<section class="content">
    <!-- USERS LIST -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Utilizadores</h3>
            <table class="table table-striped table-condensed " style="margin:10px, 10px, 10px, 10px;">
                <thead>
                    <tr>
                        <th id="nome">Nome</th>
                        <th id="estado">Estado</th>
                        <th> </th>
                    </tr>

                    <tr ng-repeat="user in vm.users">
                        <th> <a class="users-list-name"> {{user.name}}  </a> </th>
                        <th> <a class="users-list-username"> {{user.username}}  </a> </th>
                        <th> <a class="users-list-user_type"> {{user.user_type}}  </a> </th>

                        <th>
                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ng-click="vm.open(user)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>

                            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="deleteUser(user)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </th>
                    </tr>

                </thead>
                <tbody id="tableStudents"></tbody>
            </table>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="vm.createUser()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>


    <!-- MODAL -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Editar Cliente</h3>
        </div>
        <form ng-submit="submit()">
            <div class="modal-body">
                <div layout-gt-xs="row" flex-gt-xs>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Nome</label>
                        <input ng-model="current.name" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Username</label>
                        <input ng-model="current.username" type="text" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Tipo</label>
                        <input ng-model="current.user_type" type="text" required>
                    </md-input-container>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    <input type="submit" class="btn primary-btn" value="Submit" />
                </div>
            </div>
        </form>
    </script>


</section>