﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        User Profile
    </h1>
    <!--
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-user-secret"></i> Home</a></li>
        <li class="active">User profile</li>
    </ol>
    -->
</section>

<section class="content" ng-if="!vm.user">

    <ng-include src="'app/common/templates/without-elements.html'"></ng-include>

</section>


<!-- Main content -->
<section class="content" ng-if="vm.user"> 

    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <div style="text-align:center" ng-if="vm.user.photo">
                        <img class="img-circle" style="max-width:100%" ng-src="{{ vm.user.photo }}" alt="{{ vm.user.name }}">
                    </div>

                    <div style="text-align:center" ng-if="!vm.user.photo">
                        <img class="img-circle" style="max-width:100%" src="/img/default.png" alt="No Image">
                    </div>

                    <h3 class="profile-username text-center" ng-if="vm.user.name">{{ vm.user.name }}</h3>

                    <p class="text-muted text-center" ng-if="vm.user.role">{{ vm.user.role }}</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item" ng-if="vm.user.user_type_name">
                            <b>User Type</b> <a class="pull-right">{{ vm.user.user_type_name }}</a>
                        </li>
                        <li class="list-group-item"  ng-if="vm.user.since">
                            <b>Days in {{ vm.user.zone_name }}</b> <a class="pull-right">{{ vm.user.since }}</a>
                        </li>
                    </ul>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            

            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About Me</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div ng-if="vm.user.phone">
                        <strong><i class="fa fa-phone margin-r-5"></i> Phone number</strong>

                        <p class="text-muted">{{ vm.user.phone }}</p>

                        <hr>
                    </div>

                    <div ng-if="vm.user.email">
                        <strong><i class="fa fa-at margin-r-5"></i> Email</strong>

                        <p class="text-muted">{{ vm.user.email }}</p>

                        <hr>
                    </div>

                    <div ng-if="vm.user.skype">
                        <strong><i class="fa fa-skype margin-r-5"></i> Skype</strong>

                        <p class="text-muted">{{ vm.user.skype }}</p>

                        <hr>
                    </div>

                    <div ng-if="vm.user.date_of_birth">
                        <strong><i class="fa fa-birthday-cake margin-r-5"></i> Birthday</strong>

                        <p class="text-muted">{{ vm.user.date_of_birth | date }}</p>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->





        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Stats</a></li>
                    <li><a href="" data-toggle="tab">Timeline</a></li>
                    <li><a href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        <!-- AREA CHART -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Working days per month</h3>

                                <div class="box-tools pull-right">
                                     
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                         
                                </div>
                            </div>
                            <div class="box-body">
                                <div ng-view>
                                    <div class="chart">
                                        <canvas id="barChart" style="height:250px"></canvas>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.tab-pane -->


                    <div class="tab-pane" id="timeline">

                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="settings">

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>