﻿<section class="content-header">
   
</section>
<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Criar Utilizador</h3>
        </div>
        <div class="box-body">
            <div layout="column" ng-cloak class="md-inline-form">

            <div layout-padding>

                <form ng-submit="save()" name="userForm">


                  
                        <div layout-gt-xs="row" flex-gt-xs>

                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Name</label>
                                <input ng-model="vm.user.name" required>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Username</label>
                                <input ng-model="vm.user.username" type="text" required>
                            </md-input-container>
                        </div>


                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Password</label>
                                <input name="password" ng-model="vm.user.password" type="password" required>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Confirm Password</label>
                                <input ng-model="password" type="password" name="confirmPassword" required ng-pattern="{{vm.user.password}}">

                                <div ng-messages="userForm.confirmPassword.$error">
                                    <div ng-message="pattern">Password doesn't match.</div>
                                </div>
                            </md-input-container>
                        </div>

                    

                    <md-button type="submit" class="md-raised md-primary">Save</md-button>

</form>
            </div>

            </div>

        </div>
    </div>

</section>
    
