﻿html, body, .content-wrapper{
    height:100%;
    background-color: #fff;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
       background-color: #fff;
}

.content { 
    padding-top: 30px; 
}

/*>>>>>>>>>>>>>>>>>>>>*/
/*>>>>>Create User Form*/
/*>>>>>>>>>>>>>>>>>>>>*/
.userInformation{
   padding-top:15px;
   padding-bottom:20px;
    
}
.form-group input[type="text"] {
   
}
.form-group label{
   color:black;
}
.loginInformation{
    padding-top: 15px;
    padding-bottom: 10px;
    
}
.formUserCreate{
    padding-bottom:20px;
}
h5 {
    color:dodgerblue;
    font-weight:bold;
    font-size:20px;
    padding-bottom:10px;
  
}