﻿<!DOCTYPE html>
<html lang="pt" data-ng-app="SparkleIT.YourAccess">
<head>

    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>YourAccess</title>
    @Styles.Render("~/Content/css")
    @RenderSection("AddonStyles", false)
    @Scripts.Render("~/bundles/modernizr")
    <base href="@Url.Content("~")" />
</head>
<body class="skin-blue layout-top-nav">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @RenderSection("Scripts", false)

    <div data-ng-include="'/app/shell/footer.html'"></div>
</body>
</html>
