﻿<div class="login-box">
    <div class="login-logo">
        <a><b>Your</b>Access</a>
        <p style="font-size:small">by <a target="_blank" href="http://www.sparkleit.pt"><img src="http://www.sparkleit.pt/media/1162/untitled-1.png" style="margin-top:-3px"></a></p>
    </div>
    <!-- /.login-logo -->


    <div class="login-box-body">
        <p class="login-box-msg">Login to start your session</p>

        <form ng-submit="vm.tryLogin()">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Username" ng-model="vm.obj.username" autofocus required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" ng-model="vm.obj.password" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
            </div>
        </form>

    </div>
    <!-- /.login-box-body -->
</div>